html{
	background:url(images/background.png) repeat top left #2B2B2B;
	overflow-x: hidden;
}

body{
	background: url(images/brandyglass.png) no-repeat 50% 0px;
	background-size:800px;
	margin:auto 0;
	overflow-x: hidden;
}
.img, object{
	max-width: 100%;
}
#header{
	clear:both;
	width:100%;
	height:7em;
	background-color:rgba(31, 31, 31, 0.83);
	position:fixed;
	top:0px;
	z-index: 10;
}

#logo {
	height:100%;
	width:142px;
	margin: 0px 43% 0px;
	top:0px;
	position:relative;
}


.nav{
	top:-110px;
	width:75%;
	max-width: 1000px;
	margin: 0px auto;
	position:relative;
}

li{
	list-style: none;
	display:inline-block;
	width:33%;
	text-align: center;
}

a{
	font-family: helvetica;	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 500; 
	font-style: normal;	
	color:#28bcb3;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1em;
	text-decoration: none;
	text-align: center;
	transition-property:color;
	transition-duration:.3s;
	-webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;

}

a:hover{
	color:white;
	transition-property:color;
	transition-duration:.3s;
	-webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;
}

#content{
	padding-top: 200px;
}

h1{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 500; 
	font-style: normal;
	font-size:2em;
	color:white;
	text-align: center;
	margin:15px 20% 0px;
}

.event-panel{
	position:relative;
	width:100%;
	background-color:rgba(26, 26, 26, 0.42);
	margin-top:4em;
	height:340px;
	z-index: 5;
}


h2{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 800; 
	font-style: normal;
	font-size: 14em;
	color:#f9a341;
	text-align: right;
	margin:0px;
}

.details{
	margin: 66px 0px 0px 15px;
}

h3{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 500; 
	font-style: normal;
	font-size:2em;
	color:#f9a341;
	text-align: left;
	margin:0px 0px 10px 0px;
}

.event-title{
	text-transform: uppercase;
	color: #ed3580;
}

h4{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 700; 
	font-style: normal;
	font-size: 1.25em;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #f9a341;
	margin:0px 0px 10px 0px;
}

p{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 500; 
	font-style: normal;
	font-size:1.5em;
	color:#28bcb3;
	text-align: left;
	margin:0px 0px 10px 0px;
}

h4.thanks{
	text-align: center;
}

.about{
	background-color: #222222;
	width:100%;
	height:499px;
	position:relative;
	z-index: 5;
	margin-top: 18em;
}


p.about-text{
	margin:70px 30px 0px 30px;
	text-align: left;
	line-height: 1.5;
	text-align: center;
}

h4.about-us{
	margin:30px 30px 0px 30px;
	text-align: center;
}

a.names{
	font-family: 'Whitney Cond A', 'Whitney Cond B'; 
	font-weight: 700; 
	font-style: normal;
	color: #ed3580;
	line-height:1.5;
	transition-property:color;
	transition-duration:.3s;

}

a.names:hover{
	color:#FFF8A5;
	transition-property:color;
	transition-duration:.3s;

}

img{
	max-width: 100%;
}


.mattison{
	max-width:450px;
	position:relative;
	margin:70px 0px 0px 9%;
}

.so-white{
	max-width:144px;
	position:relative;
	margin:36px auto;
}


.footer{
	background-color: rgba(26, 26, 26, 1);
	width:100%;
	height:100px;
	position:relative;
	z-index: 5;
	margin-top: 0px;
	border-top: 6px rgb(134, 26, 78) solid;
	border-bottom: 60px #111 solid;
}

.social{
	width:100%;
	margin:17px 46% 0px;
	position: relative;
	display:inline-block;
}

.icon{
	width:20px;
	display: inline-block;
	margin: 0px 5px 0px 5px;
}

p.footer-text{
	color:#CC9506;
	text-align: center;
	font-size: 1em;
	margin:0px auto 15px;
	padding-top: 15px;
	line-height: 1.5em;
}

a.footer-link{
	color: #FCDD7B;
	font-size: 1em;
	text-transform: none;
	letter-spacing: 0px;

}
/* #Media Queries
================================================== */
@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 950px) {
	#logo{
		margin: 0px 42% 0px;
	}
	h1{
		font-size: 1.75em;
	}

	.details{
		margin:66px 0px 0px 20px;
	}

	h2{
		font-size: 13em;
		margin-right: 0px;
		margin-top: 9px;

	}

	h3{
		font-size:1.75em;
	}
	h4{
		font-size: 1em;
	}
	p{
		font-size: 1.375em;
	}

}

@media only screen and (max-width: 810px) {
	#logo{
		margin: 0px 39% 0px;
	}
	h1{
		margin:15px 10% 0px;
	}
	h2{
		font-size: 12em;
		margin-right: 0px;
		margin-top: 9px;
	}

	h3{
		font-size:1.5em;
	}
	h4{
		font-size: .875em;
	}
	p{
		font-size: 1.25em;
	}

	.mattison{
		width:350px;
	}

	.so-white{
		width:124px;
	}

}

@media only screen and (max-width: 690px) {
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 {
		width:100%;
		}
	body{
		background-size: 650px, auto;
	}	
	#header{
		height:5em;
	}	

	#logo{
		width:116px;
		margin: 0px 40% 0px;
	}

	#content{
		padding-top: 162px;
	}

	h1{
		margin-top: 0px;
	}	
	.event-panel{
		margin-top: 2em;
		height:360px;

	}	
	h2{
		font-size: 8em;
		text-align: center;
		margin-top:-12px;
	}

	.details{
		margin:0px;
	}
	h3{
		font-size:1.5em;
		text-align: center;
	}
	h4{
		font-size: .875em;
		text-align: center;	
	}
	p{
		font-size: 1.25em;
		text-align: center;	
	}	

	.about{
		margin-top: 14em;
		height: 550px;
	}
	p.about-text {
		margin: 70px 0px 0px 0px;
	}
	h4.about-us {
		margin: 30px 0px 0px 0px;
	}
	.mattison{
		margin: 10px auto;
	}

	.so-white{
		margin: 0px auto 30px;
	}

	.social{
		margin:17px 44% 0px;
	}
}

@media only screen and (max-width: 550px) {
	
	#logo{
		width: 110px;
		margin: 0px 39% 0px;
	}

	.nav {
		top: -98px;
		width: 86%;
}

	.about{
		height:570px;
	}

	.social{
		margin:17px 43% 0px;

	}

	.footer{
		height:150px;
	}
}

@media only screen and (max-width: 490px){
	body{
		background: url(images/background.png) repeat top left #2B2B2B;
		background-size: auto;
	}

	#logo {
		width: 100px;
		margin: 0px 37% 0px;
}

	.nav{
		top: -90px;
		width: 83%;
	}

	.li{
		width:32%;
	}

	h1{
		font-size: 1.5em;
	}

	.social{
		margin: 17px 41% 0px;
	}

}

@media only screen and (max-width: 450px){
	.about{
		height:640px;
	}	
	.social {
		margin: 17px 40% 0px;
	}
}

@media only screen and (max-width: 400px){

	#logo{
		margin:0 auto;
	}
	.nav{
		margin: -20px 0px 0px 64%;
		display: inline-block;
		}
	li{
		display: block;
		width: 29%;
		padding-bottom: 4px;
		text-align: right
	}	
	.about{
		height:690px;
	}	
	.social {
		margin: 17px 40% 0px;
	}	
}	

@media only screen and (max-width: 380px){
	h1{
		font-size: 1.25em;
	}
	h2{
		font-size: 7em;
	}
	h3{
		font-size: 1.25em;
	}
	p{
		font-size: 1.125em;
	}
	.event-panel{
		height: 380px;
	}	
	
	.about{
		height:750px;
	}
	.mattison{
		width:90%;
	}

}	

@media only screen and (max-width: 280px){
	.event-panel{
		height:420px;
	}

	.about{
		height:850px;
	}
	.social {
		margin: 17px 35% 0px;
	}
}	